.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: var(--trasition);
}

#logo {
  transition: opacity .3s ease, visibility .3s ease;
}
.logo.oculta {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.logo {
  font-family: var(--font-title);
  font-size: 2rem;
  font-weight: 700;
  color: #D4AF37;
  transition: var(--trasition);
}

.logo:hover {
  color: var(--color-secundary);
}

.menu {
  position: fixed;
  top: 30px;
  right: 50px;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.menu a {
  position: relative;
  color: #163a70;
  font-size: 0.95rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: var(--trasition);
}

.menu a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: var(--color-secundary);
  transition: var(--trasition);
}

.menu a:hover {
  color: var(--color-secundary);
}

.menu a:hover::after {
  width: 100%;
}

.menu-mobile {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
  display: none;
  font-size: 2rem;
  color: var(--color-sufarce);
  cursor: pointer;
}

@media (max-width: 1024px) {
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 135px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #F8fafc;
    backdrop-filter: blur(12px);
    transition: .4s ease;
    z-index: 999;
  }
  .menu-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: transparent;
    border: none;
    color: #D4AF37;
    font-size: 2em;
    cursor: pointer;
    z-index: 1000;
  }
  .menu.ativo {
    right: 0;
  }

  .navbar {
    justify-content: space-between;
  }
}

