#home {
  margin-top: 100px;
  padding-top: 90px;
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.home-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(10,18,50,0.9), rgba(10, 18, 50, 0.55), rgba(10,18,50, 0.25));
  z-index: -1;
}

.home-conteudo {
  padding-top: 80px;
  max-width: 700px;
  color: var(--color-sufarce);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
  gap: 1rem;
  z-index: 2;
  animation: aparecer 1.2s ease;
}


.home-conteudo span {
  display: inline-block;
  margin-bottom: 1rem;
  color: var(--color-secundary);
  font-size: .9rem;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.home-conteudo h1 {
  font-family: var(--font-title);
  font-size: clamp(4rem, 9vw, 7rem);
  font-weight: 700;
  line-height: .9;
  margin-bottom: 1rem;
  color: var(--color-sufarce);
  text-shadow: 0px 5px 20px rgba(0,0,0,.4);
}

.home-conteudo h2 {
  margin-bottom: 1.5rem;
  color: var(--color-secundary);
  font-size: 2rem;
  font-weight: 500;
}

.home-conteudo p {
  max-width: 550px;
  margin-bottom: 2rem;
  color: rgba(255,255,255,.85);
  font-size: 1.1rem;
  line-height: 1.8;
}

.home-botoes {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.btn-primary {
  background-color: var(--color-secundary);
  color: var(--color-primary);
}

.btn-primary:hover {
  transform: translateX(-4px);
  box-shadow: 0px 15px 30px rgba(0,0,0,.25);
}

.btn-secondary {
  border: 2px solid #fff;
  color: #fff;
}

.btn-secondary:hover {
  background: #fff;
  color: var(--color-primary);
}

.scroll-indicador {
  position: absolute;
  left: 50%;
  bottom: 6%;
  transform: translateX(-50%);
  margin-top: 4rem;
  font-size: 2rem;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--color-secundary);
  animation: flutuar 1.8s infinite;
}

#home .container {
  display: flex;
  align-items: center;
  min-height: 100vh;

}

.menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.45);
    backdrop-filter: blur(4px);
    opacity: 0;
    visibility: hidden;
    transition: .35s;
    z-index: 998;
}

.menu-overlay.ativo {
    opacity: 1;
    visibility: visible;
}

@keyframes flutuar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}





  
  



