@media (max-width: 910px) {
  #home {
  padding-top: 90px;
  min-height: auto;
  align-items: flex-start;
  }

  #home .container {
    min-height: auto;
    align-items: flex-start;
  }

  .home-conteudo {
    margin: 0 auto;
    padding-top: 35px;
    text-align: justify;
    text-indent: 20px;
    align-items: center;
    max-width: 100%;
  }

  .home-conteudo span {
    font-size: .8rem;
    letter-spacing: 2px;
  }

  .home-conteudo h1 {
    font-size: clamp(3.4rem, 13vw, 4.8rem);
    line-height: .9;
  }

  .home-conteudo h2 {
    font-size: 1.8rem;
  }

  .home-conteudo p {
    max-height: 95%;
    font-size: 1rem;
    line-height: 1.7;
  }

  .home-botoes {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
    .home-botoes .btn {
      width: 90%;
      max-width: 320px;
      padding: 15px 0px;
    }

    .logo {
      font-size: 2rem;
    }

    .menu-mobile {
      font-size: 2rem;
    }

    header {
      padding: none;
    }

    .scroll-indicador {
      bottom: 40px;
      font-size: 1.8rem;
      margin: auto;
  
    }

    .filtros {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 12px;
    }
      .filtro {
        min-width: 140px;
        text-align: center;
        font-size: .95rem;
      }
    
  }
