@import url("./variables.css");
@import url("./hero.css");
@import url("./header.css");
@import url("./reset.css");
@import url("./destaque.css");
@import url("./sobre.css");
@import url("./galeria.css");
@import url("./artes.css");
@import url("./estilo.css");
@import url("./citacao.css");
@import url("./contato.css");
@import url("./footer.css");

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: var(--font-text);
  background-color: var(--color-background);
  color: var(--color-text);
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  width: min(90%, var(--container));
  margin: 0 auto;
}

section {
  padding: 100px 0px;
}

h1, h2, h3 {
  font-family: var(--font-title);
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  line-height: 1.7;
  color: var(--color-text-light);
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 16px 34px;
  border-radius: 50px;
  font-weight: 600;
  transition: .35s;
  
}




