:root {
  --color-primary: #0D2346;
  --color-secundary: #D4AF37;

  --color-background: #F8F4E8;
  --color-sufarce: #FFFFFF;
  --color-header: rgba(13, 35, 70, 0.85);

  --color-text: #2B2B2B;
  --color-text-light: #666666;

  --font-title: 'Cormorant Garamond', serif;
  --font-text: 'Poppins', sans-serif;

  --container: 1200px;

  --shadow-sm: 0px 2px 8px rgba(0,0,0,.08);
  --shadow-md: 0px 8px 25px rgba(0,0,0,.15);

  --trasition: .35s ease;
  --radius: 16px;
}